{% extends 'base/main.html' %}

{% block content %}
<div class="auth-container">
  <h2 class="auth-title">
    Are You Sure This Is Your Email? <br> 
    <span class="auth-email">{{ email }}</span><br>
    <a href="{% url 'register' %}" class="auth-link">Update Your Email</a>
  </h2>
<hr class="custom-hr">

  <p class="auth-subtitle">
    We've sent an activation link to your email address.<br>
    Please check your email and click on the link to activate your account.
  </p>
<hr class="custom-hr">
  <p class="auth-subtitle">
    Didn't receive the email? 
    <a href="{% url 'resend_activation' %}" class="auth-link">Resend Activation Email</a>
  </p>
</div>
{% endblock %}
