
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>

</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">home</a>
            <!-- دکمه خروج -->
            <a href="{% url 'logout' %}">logout</a>
        </nav>
    </header>

    <main>
        <h1>hello {{ user.username }}!</h1>
 

        <h2>لیست کارها</h2>
        <a href="{% url 'add_task' %}"> کار</a>
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.title }}
                    <a href="{% url 'update_task' task.id %}">ویرایش</a>
                    <a href="{% url 'delete_task' task.id %}">حذف</a>
                </li>
            {% empty %}
                <li>هیچ کاری وجود ندارد.</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
